/** Selector del logo para cambiar de lenguaje **/
.language-selector {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    margin-left: 20px;
}

.language-selector::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3NTAgNTAwIj48cGF0aCBmaWxsPSIjYzYwYjFlIiBkPSJNMCAwaDc1MHY1MDBIMHoiLz48cGF0aCBmaWxsPSIjZmZjNDAwIiBkPSJNMCAxMjVoNzUwdjI1MEgweiIvPjwvc3ZnPg==') center/cover;
}

.language-selector::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MCA0MCI+PHBhdGggZmlsbD0iIzAxMjE2OSIgZD0iTTAgMGg2MHY0MEgweiIvPjxwYXRoIGQ9Ik0wIDBoNjB2NDBIMHoiIGZpbGw9IiMwMTIxNjkiLz48cGF0aCBkPSJNMCAwaDYwdjQwSDB6IiBmaWxsPSIjMDEyMTY5Ii8+PHBhdGggZD0iTTMwIDIwaDMwdjIwSDBWMjBoMzB6TTAgMGgzMHYyMEgweiIgZmlsbD0iI0MxMjcyRCIvPjxwYXRoIGQ9Ik0zMCAyMGgzMHYyMEgwVjIwaDMwek0wIDBoMzB2MjBIMHoiIGZpbGw9IiNGRkYiLz48L3N2Zz4=') center/cover;
}

.language-selector.active-en::before {
    opacity: 0.5;
}

.language-selector.active-es::after {
    opacity: 0.5;
}
/** Selector del logo para cambiar de lenguaje **/